<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <machineKey validationKey="4B015F62949E0F4A4CA9B7DDA14B672F271F76FCD411AEC4B64444120B2E5648564E2604695668B4CBE3A74B35AE1EE66FE2B98E56C020A575901D5CEB517C88"
               decryptionKey="83D9D8F251C59D589EC222E01818A0C7A92A881B9046039C" validation="SHA1"/>
    </system.web>
  <connectionStrings>
   <!--Home Server DESKTOP-HH47H7V\SQLEXPRESS-->
    <!--Office Server DESKTOP-80HV8R1\SERVER-->
    <add name="JagratBharatConnectionString" connectionString="Data Source=DESKTOP-HH47H7V\SQLEXPRESS;Initial Catalog=JagratBharat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  

</configuration>
